USE [master]
GO
/****** Object:  Database [Dapper]    Script Date: 16/01/2021 19:44:08 ******/
CREATE DATABASE [Dapper]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Dapper', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Dapper.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Dapper_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Dapper_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Dapper].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Dapper]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 16/01/2021 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[EmailAdress] [nvarchar](50) NULL,
	[PhoneNumber] [varchar](50) NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  StoredProcedure [dbo].[sp_getbylastname]    Script Date: 16/01/2021 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[sp_getbylastname]
(
@LastName nvarchar(50)
)
as(select * from Users where lastName=@LastName)
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_user]    Script Date: 16/01/2021 19:44:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[sp_insert_user]
(
 
 @FirstName nvarchar(50),
 @LastName nvarchar(50),
 @EmailAdress nvarchar(50),
 @PhoneNumber varchar(50)
)
as
insert into Users(FirstName,LastName,EmailAdress,PhoneNumber)
values(@FirstName,@LastName,@EmailAdress,@PhoneNumber)
GO
USE [master]
GO
